* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: $darkgray;
  background-color: $page-bg;
}

// p:last-child {
//   margin-bottom: 0;
// }

a {
  color: $blue;
}
