
/* ==== CARD === */
.card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin-bottom: 0;
  border: 1px solid #cecece;

  background-color: $card-bg;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 40px;

  &__header {
    text-align: center;
    padding: 10px;
  }

  &__headline {
    padding: 0;
    font-weight: 400;
  }
   &__title {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
    color: $card-link-color;
    background-color: $card-link-bg;

    &:hover, &:focus {
      color: $card-link-hover-color;
      background: $card-link-hover-bg;
      text-decoration: underline;
    }

    .mygrid--categories & {
        font-size: 2rem;
        padding: 0 20px;
    }

  }
  &__image-cnt {
    position: relative;

    &:hover, &:focus {
      opacity: 0.75;

      &__title {
        opacity: 1;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;

    &:hover, &:focus {
      opacity: 0.5;
    }
  }

  &__footer {
    background-color: #cecece;
    padding: 10px;
  }

  .tag:not(:last-child) {
    margin-right: 10px;
  }
}

.card--selected {

  a {
    position: relative;
    display: block;

    &:hover, &:focus {

      .card__image-title {
        background-color: rgba(0,0,0,0.5);
        top: 0;
        color: $white;
        padding: 20px;
      }
    }
  }
  .card__image {
    position: relative;
    z-index: 1;
  }
 .card__image-title {
   position: absolute;
   top: auto;
   left: 0;
   right: 0;
   bottom: 0;

   padding: 20px;
   font-size: 1.25rem;
  //  width: 100%;
   z-index: 10;
   background-color: $white;
   transition: all linear 0.5s;

 }
}
