
/* ==== CARD === */
.card {
  background-color: $card-bg;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 40px;

  &__header {
    background-color: $card-header-bg;
    padding: 10px 20px;

    &:hover, &:focus {
      background: $blue2;
    }
  }

  &__headline {
    margin-top: 0;
    color: $card-headline-color;

    a {
      color: inherit;
    }
  }

  &__body {
    padding: 10px 10px 20px 25px;
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;

    &:hover, &:focus {
      opacity: 0.5;
    }
  }

  &__footer {
    background-color: #cecece;
    padding: 10px;
  }

  .tag:not(:last-child) {
    margin-right: 10px;
  }
}

.card--selected {

  a {
    position: relative;
    display: block;

    &:hover, &:focus {

      .card__image-title {
        background-color: rgba(0,0,0,0.5);
        top: 0;
        color: $white;
        padding: 20px;
      }
    }
  }
  .card__image {
    position: relative;
    z-index: 1;
  }
 .card__image-title {
   position: absolute;
   top: auto;
   left: 0;
   right: 0;
   bottom: 0;

   padding: 20px;
   font-size: 1.25rem;
  //  width: 100%;
   z-index: 10;
   background-color: $white;
   transition: all linear 0.5s;

 }
}
