
/* ==== CARD === */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 40px;

  &__header {
    text-align: center;
    padding: 10px;
  }

  &__headline {
    padding: 0;
    font-weight: 400;
  }
   &__title {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
    color: $black;
    background: $orange2;

    &:hover, &:focus {
      color: $white;
      background: $myred;
      // text-decoration: underline;
    }

    .mygrid--categories & {
        font-size: 2rem;
        position: static;
        text-decoration: none;
    }

  }
  &__image-cnt {
    position: relative;

    &:hover, &:focus {
      opacity: 0.75;

      &__title {
        opacity: 1;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;

    &:hover, &:focus {
      opacity: 0.5;
    }
  }

  &__footer {
    background-color: #cecece;
    padding: 10px;
  }

  .tag:not(:last-child) {
    margin-right: 10px;
  }
}

