.category {
  margin-bottom: $m4;
  //border-bottom: 2px solid $lightgray;
  padding-bottom: $p2;
  border: 2px solid $lightergrey;
  border-top: none;

  &.hauptgericht {
    h2 {
      background-color: $color-hauptgerichte;
      color: $white;
    }
  }

  &.beilage {
    h2 {
      background-color: $color-beilagen;
      color: $white;
    }
  }

  &.sonstiges {
    h2 {
      background-color: $color-sonstiges;
    }
  }

  &.wissenswertes {
    h2 {
      background-color: $color-wissenswertes;
      color: $white;
    }
  }

  h2 {
    margin-bottom: 0;
    padding: $p2;
    background-color: $lightergrey;
  }

  &__body {
    padding: $p4;
  }

  &__last-items {
    @include nolist;

    @media (min-width: $md) {
      columns: 2;
      column-gap: $p2;
    }

    li {
      margin-bottom: $m1;
    }

    a {
      display: block;
      padding: $p1;
    }
  }

  &__link {
    text-align: right;
    padding: $p1;
  }

  // &__image {}
}
