.category {
  margin-bottom: $m4;
  border-bottom: 2px solid $lightgray;
  padding-bottom: $p2;
  display: flex;
  flex-direction: column;

  @media (min-width: $md) {
    flex-direction: row;
    gap: 20px;

    &__head {
      flex: 1 1 calc(40% - $gap2);
    }

    &__body {
      flex: 1 1 calc(60% - $gap2);
    }
  }

  h2 {
    margin-bottom: 0;
    padding: $p2;
    background-color: $lightergrey;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__last-items {
    @include nolist;

    li {
      margin-bottom: $m1;
    }

    a {
      display: block;
      padding: $p1;
      font-size: 1.5rem;
    }
  }

  &__link {
    text-align: right;
    padding: $p1;
    font-size: 1.5rem;
    align-self: flex-end;
  }

  // &__image {}
}
