.collection-overview {

  @media (min-width: 540px) {
    column-count: 2;
    column-gap: 60px;
  }
  @media (min-width: 800px) {
    column-count: 3;
  }

  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    display: block;
    padding: 1em;
    padding-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: white;
    transition: all linear 0.5s;
  }

  a:hover,
  a:focus {
    color: #a20000;
    border-bottom-color: #a20000;
    background-color: lightgrey;
    text-decoration: none;
    padding-left: 1em;
  }
}
