.collection-overview {
  column-count: 3;
  column-gap: 12px;
  padding: 0;
  margin: 0 0 40px 0;

  a {
    display: block;
    padding: 0.5em 1em 0.5em 0;
    border-bottom: 1px solid $lightgray;
    transition: all linear 0.5s;
  }

  a:hover,
  a:focus {
    color: #a20000;
    background-color: $lightergrey;
    text-decoration: none;
    padding: 0.5em 1em;
  }
}
