.indexlist {
  @include nolist;

  .card {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-bottom: 0;
    border: 1px solid #cecece;
  }

  .card__header {
    text-align: center;
    padding: 10px;
    // background-color: #fd8700;

    // &:hover, &:focus {
    //   background-color: lighten(#fd8700, 20);
    // }
  }

  .card__image-cnt {
    &:hover, &:focus {
      opacity: 0.75;
    }
  }

  .card__headline {
    padding: 0;
    font-weight: 400;
  }

  .postlist-link {
    text-decoration: none;
    display: block;
    color: inherit;
  }
}
