// Der Wrapper um die .main-nav
// Eigentlich sollte eine Datei mit der nach ihr benannten Klasse beginnen.
// Immer diese Ausnahmen ... :-)
.main-nav-wrapper {
  background-color: $main-nav-wrapper-bg;
}

.main-nav {
  background-color: $main-nav-bg;
  padding: 12px 32px;

  @media (min-width: 1120px) {
    padding: 12px 0;
  }

  &__nav {
    display: flex;
    @include nolist;
  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-right: auto;
      margin-left: 0;
    }
  }
  &__link {
    display: block;
    background-color: $lightergrey;
    color: #000;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;

    &:hover,
    &:focus,
    &--active {
      background-color: $brown;
      color: #fff;
    }

    &--active {
      font-weight: 700;
    }
  }
}

.main-nav-wrapper,
.main-nav {
  body.home & {
    background-color: $color-index;

    .main-nav__link {
      background-color: $lightorange;

      &:hover,
      &:focus,
      &--active {
        background-color: $brown;
        color: #fff;
      }
    }
  }

  body.hauptgerichte & {
    background-color: $color-hauptgerichte;

    .main-nav__link {

      &:hover,
      &:focus,
      &--active {
        background-color: $blue;
        color: $white;
      }
    }
  }

  body.beilagen & {
    background-color: $color-beilagen;

    .main-nav__link {

      &:hover,
      &:focus,
      &--active {
        background-color: $brown1;
        color: $black;
      }
    }
  }

  body.sonstiges & {
    background-color: $color-sonstiges;

    .main-nav__link {

      &:hover,
      &:focus,
      &--active {
        background-color: $mediumblue;
        color: $white;
      }
    }
  }

  body.wissenswertes & {
    background-color: $color-wissenswertes;

    .main-nav__link {

      &:hover,
      &:focus,
      &--active {
        background-color: $lightblue;
        color: $blue;
      }
    }
  }
}


