// Der Wrapper um die .main-nav
// Eigentlich sollte eine Datei mit der nach ihr benannten Klasse beginnen.
// Immer diese Ausnahmen ... :-)
.main-nav-wrapper {
  background-color: $main-nav-wrapper-bg;
}

.main-nav {
  background-color: $main-nav-bg;
  padding: 12px 32px;

  @media (min-width: 1120px) {
    padding: 12px 0;
  }

  &__nav {
    display: flex;
    @include nolist;
  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-right: auto;
      margin-left: 0;
    }
  }
  &__link {
    display: block;
    background-color: whitesmoke;
    color: #000;
    padding: 12px;
    text-decoration: none;

    &:hover,
    &:focus,
    &--active {
      background-color: $brown;
      color: #fff;
    }

    &--active {
      font-weight: 700;
    }
  }
}




