.mygrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2em;

  > * {
    min-width: auto;
    margin: 0;
  }
}

.mygrid--small {
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.mygrid--medium {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.mygrid--categories {
  .card__title {
    font-size: 2rem;
  }
}
