.mygrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  > * {
    flex: 1 1 100%;
  }
}

@media (min-width: $lg) {
  .mygrid--2 {
    >* {
      flex: 0 1 calc(50% - $gap2);
    }
  }

  .mygrid--3 {
    >* {
      flex: 0 1 calc(33.33333% - $gap2);
    }
  }

  .mygrid--4 {
    >* {
      flex: 0 1 calc(25% - $gap2);
    }
  }
}

.mygrid--categories {

  li {
    flex: 0 0 100%;
  }

  @media (min-width: $md) {

    li:nth-of-type(2),
    li:nth-of-type(3) {
      flex: 1 1 calc(50% - $gap2);
    }
  }

  @media (min-width: $lg) {

    li:nth-of-type(1),
    li:nth-of-type(2),
    li:nth-of-type(3) {
      flex: 1 1 calc(33.333333333333% - $gap2);
    }
  }
}
