.mygrid {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2em;

  > * {
    min-width: auto;
    margin: 0;
  }
}

.mygrid--small {
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.mygrid--medium {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.mygrid--3times {
  grid-template-columns: repeat(3, 1fr);
}
.mygrid--4times {
  grid-template-columns: repeat(4, 1fr);
}
