/* Nav */
.nav {
  @include section;
  display: flex;
  list-style: none;
  margin-top: 0;
}
.nav-item {
  display: inline-block;
  margin-left: 20px;

  &:first-child {
    margin-right: auto;
    margin-left: 0;
  }
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}
