
/* Posts list */
.postlist {
  @include nolist;
}
.postlist-item {
}

.postlist__imagecnt {
}
.postlist__image {
  border-radius: 6px;
  border: 2px solid $lightgray;
}
.postlist__footer {
  display: flex;
}

@include mygrid("postlist");
