.recipe {
  font-size: 1.125rem;
  padding-top: $p6;

  h2, h3, h4 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .recipe {
    display: grid;
    grid-gap: 2em;
    grid-template-areas:
      "intro intro"
      "ingredients content"
      "tipps tipps"
    ;

    &__intro {
      grid-area: intro;

    }
    &__ingredients {
      grid-area: ingredients;

      ul {
        padding-left: 10px;
        margin-left: 10px;
      }
    }

    &__content {
      grid-area: content;
    }
    &__tipps {
      grid-area: tipps;
    }
  }
}
