.siteheader {
  position: relative;

  .headline-cnt {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    background-color: $siteheader-headline-cnt-bg;
    color: $siteheader-headline-cnt-color;
    padding: $p2;
    width: 100%;

    .home & {
      border-left: 20px solid $orange2;
    }
  }
  img {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.home-headline ,
.home-subline {
  margin: 0 0 $m2 0;
  padding: 0;
}

.tag-headline {
  mark {
    text-transform: capitalize;
    display: inline-block;
    padding: 2px $p1;
  }
}
