.taglist {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__count {
    color: #a20000;
    background-color: whitesmoke;
    padding: 8px;
    margin-right: 6px;
    display: inline-block;
    transition: all linear 0.5s;
  }

  &__item {
    margin: 0 30px 30px 0;
    display: flex;
    justify-content: flex-start;
  }

  &__link {
    padding: 0 10px 0 0;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    transition: all linear 0.5s;

    &:hover,
    &:focus {
      background-color: lightgrey;
      color: #000;

      .taglist__count {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
