
.taglist {
  @include nolist;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.taglist__count {
  background-color: #fd8700;
  padding: 6px 10px;
}

.taglist__item {
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: flex-start;
}
.taglist__link {
  padding: 6px 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: $taglist-link-color;
  background-color: $taglist-link-bg;

  &:hover,
  &:focus {
    background-color: $taglist-link-hover-bg;
    color: $taglist-link-hover-color;
  }
}

