.taglist {
  @include nolist;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__count {
    background-color: $myred;
    color: $white;
    padding: $p1;
    margin-right: $m1;
    display: inline-block;
  }

  &__item {
    margin: 0 $m4 $m4 0;
    display: flex;
    justify-content: flex-start;
  }

  &__link {
    padding: $p1 $p2;
    text-decoration: none;
    text-transform: capitalize;
    color: $taglist-link-color;
    background-color: $taglist-link-bg;
    border-radius: $p1;

    &:hover,
    &:focus {
      background-color: silver;

      .taglist__count {
        background-color: $black;
        color: $white;
      }
    }
  }
}
