$white: #fff;

$brown: brown;

$red: #C5004A;
$myred: #a20000;
$darkred: #7F0036;

$lightergrey: #f7f7f7;
$lightgray: #e0e0e0;
$gray: #C0C0C0;
$darkgray: #333;
$darkergrey: #aaa;

$navy: #17050F;
$mediumblue: #0277BD;
$blue: #082840;

$lightyellow: #ffc;

$nearlywhite: #fafafa;
$white: #fff;


$page-bg: $lightergrey;

$card-bg: $nearlywhite;
$card-header-bg: $mediumblue;
$card-headline-color: $white;

$post-headline-color: $white;
$post-headline-bg:  rgba(0,0,0,0.5);


$tag-bg: $red;
$tag-color: $white;
$tag-visited-color: $white;

$warning-color: $lightyellow;

$taglist-link-color: $white;
$taglist-link-bg: $myred;
$taglist-link-hover-bg: #0b4396;
