<div class="card card--tags">
  <div class="card__header">
    <h2 class="card__headline">Alle Bilder</h2>
  </div>
  <div class="card__body">
    <dl class="imagerights">
    {%- for post in collections.all -%}
      <div class="imagerights_cnt">
        <dd class="imagerights_page"><a href="{{ post.url }}">{{ post.data.title }}</a></dd>
        {%- if post.data.headerImageLink -%}
        <dd class="imagerights_img-url"><a href="{{ post.data.headerImageLink }}">Originalbild</a></dd>
        {%- endif -%}
        {%- if post.data.headerImageAttribution -%}
        <dd class="imagerights_img-right">{{ post.data.headerImageAttribution|safe }}</dd>
        {%- endif -%}
      </div>
    {%- endfor -%}
    </dl>
  </div>
</div>
