{%- if headerImageAttribution -%}
<div class="imageright">
  <h2 class="imageright__headline">Rechte am Bild</h2>
  <div class="imageright__content">
    {{ headerImageAttribution|safe }}
    {%- if headerImageLink -%}
    <a href="{{ headerImageLink }}">(Originalbild)</a>
    {%- endif -%}
  </div>
</div>
{%- endif -%}
