  <h2 class="separator"><span>Alle Bilder</span></h2>
  <dl class="imagerights">
  {%- for post in collections.all -%}
      <dt>Seite: <a href="{{ post.url }}">{{ post.data.title }}</a></dt>
      <dd>
        {%- if post.data.headerImageAttribution -%}
        {{ post.data.headerImageAttribution|safe }}
        {%- endif -%}
        {%- if post.data.headerImageLink -%}
        <span aria-hidden="true">&nbsp;|&nbsp;</span><a href="{{ post.data.headerImageLink }}">Originalbild</a>
        {%- endif -%}
      </dd>
  {%- endfor -%}
  </dl>
