<div class="container">

  {% for item in categories %}
    <div class="category {{item.url}}">
      <div class="category__head">
        <h2>
          {{ item.title }}
        </h2>
      </div>
      <div class="category__body">
        <ol class="category__last-items">
        {# Zählvariable setzen #}
        {% set atPost = 0 %}
        {% for post in collections.recipesDescending %}
          {% if post.data.category == item.url %}
            {# Solange die Zählvariable noch unter diesem Wert ist #}
            {% if atPost < 8 %}
            <li><a href="{{ post.url | url}}">{{ post.data.title }}</a></li>
            {% endif %}
            {# Zählvariable hochzählen #}
            {% set atPost = atPost + 1 %}
          {% endif %}
        {% endfor %}
        </ol>
        <div class="category__link">
<!--
          <span>
            <svg class="icon" viewBox="0 0 10 10">
              <path d="m1 4h4v-2l4 3-4 3v-2h-4z"/>
            </svg>
          </span>
-->
          <span class="category__arrow">&#9654;</span> <a href="{{ item.title | lower }}.html"> mehr <span class="vis-md">aus der Kategorie</span> <strong>{{ item.title }}</strong> ...</a>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
