<div>
  <h2 class="separator">Alle Rezepte dieser Kategorie</h2>
  <div class="">
    <ol class="card__items">
      {%- for post in postslist -%}
      <li>
        <a class="card__link--block" href="{{ post.url | url }}">
        {{ post.data.title }}
        </a>
      </li>
      {%- endfor -%}
    </ol>

  </div>
</div>
