<div class="card">
  <div class="card__head">
    <h2 class="card__headline">Alle Rezepte der Kategorie <mark>{{ tag | capitalize }}</mark></h2>
  </div>
  <div class="card__body">
    <ol class="card__items">
      {%- for post in postslist -%}
      <li class="card__item--block">
        <a href="{{ post.url | url }}">
        {{ post.data.title }}
        </a>
      </li>
      {%- endfor -%}
    </ol>

  </div>
</div>
