<h2 class="separator"><span>Alle Rezepte der Kategorie <mark>{{ tag | capitalize }}</mark></span></h2>
<ol class="list list--grid">
  {%- for post in postslist -%}
  <li class="list__item list__item--overview">
    <a class="card__link--block" href="{{ post.url | url }}">
    {{ post.data.title }}
    </a>
  </li>
  {%- endfor -%}
</ol>
