@use "sass:color";
@use "mixins" as *;
@use "variables" as *;

// The CSS custom properties

:root {
  --categoryColor: #000;
  --categoryTextColor: #fff;
  --inactiveNavBg: #cecece;
  --inactiveNavBgHover: #fd8700;
  --activeNavBG: #fff;
  --activeNavText: #000;
  --textColor: #646464;
  --lightyellow: #{$lightyellow};


  --mainnav-wrapper-bg: var(--categoryColor, #000);//#bd9a74; //#6f3939;
  --page-bg: #fff;
  --container-bg: #f7f7f7;
}

.home {
  --categoryColor: #{$color-index};
  --categoryColorLight: #{color.adjust($color-index, $lightness: 20%)};
  --categoryColorDark: #{color.adjust($color-index, $lightness: -10%)};
}

.hauptgerichte {
  --categoryColor: #{$color-hauptgerichte};
  --categoryColorLight: #{color.adjust($color-hauptgerichte, $lightness: 20%)};
  --categoryColorDark: #{color.adjust($color-hauptgerichte, $lightness: -10%)};
}

.beilagen {
  --categoryColor: #{$color-beilagen};
  --categoryColorLight: #{color.adjust($color-beilagen, $lightness: 10%)};
  --categoryColorDark: #{color.adjust($color-beilagen, $lightness: -10%)};
}

.sonstiges {
  --categoryColor: #{$color-sonstiges};
  --categoryColorLight: #{color.adjust($color-sonstiges, $lightness: 10%)};
  --categoryColorDark: #{color.adjust($color-sonstiges, $lightness: -10%)};
}

.wissenswertes {
  --categoryColor: #{$color-wissenswertes};
  --categoryColorLight: #{color.adjust($color-wissenswertes, $lightness: 20%)};
  --categoryColorDark: #{color.adjust($color-wissenswertes, $lightness: -10%)};
}

// A modified version of Andy Bell's "modern reset" https://github.com/hankchizljaw/modern-css-reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0 0 $space2 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  font-family: $systemfonts2;
  font-weight: 400;
  color: $darkgray;
  background-color: var(--page-bg, $page-bg);
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
}

h1, h2 {
  font-family: "Ubuntu Medium", $systemfonts2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p + h3, ul + h3, ol + h3 {
  margin-top: $space3;
}

ul[class],
ol[class] {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: var(--categoryColor, #000);

  &:hover, &:focus {
    color: $link-color-hover;
  }
}

mark {
  padding: $space1 $space2;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* hide only visually */
/* https://gist.github.com/jensgro/743c37c3c1b226f7917fa0fc0825e3c2 */
.visuallyhidden, .sr-only {
  @include visuallyhidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

/* Avoid visible focus style on focusable elements like main */
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
