@use "sass:color";
@use "mixins" as *;
@use "variables" as *;

// The CSS custom properties

:root {
  // --categoryColor: rgb(189, 85, 0); // #bb711c
  --categoryColor: 189, 85, 0;
  --categoryTextColor: #fff;
  --inactiveNavBg: #cecece;
  --inactiveNavBgHover: #fd8700;
  --activeNavBG: #fff;
  --activeNavText: #000;
  --textColor: #646464;
  --lightyellow: #{$lightyellow};

  --color-line: #c5cad1;

  --mainnav-wrapper-bg: rgb(var(--categoryColor, #000));//#bd9a74; //#6f3939;
  --page-bg: #fef9f3;
  --container-bg: #f7f7f7;

  --index-padding: #{$space4};

  --tag-bg: #fef3e2;
  --tag-color: #92400b;

  --card-bg: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}
// A modified version of Andy Bell's "modern reset" https://github.com/hankchizljaw/modern-css-reset

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0 0 $space2 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  font-family: $systemfonts2;
  font-weight: 400;
  color: $darkgray;
  background-color: var(--page-bg, $page-bg);
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
}

h1, h2, .siteheader__headline {
  font-family: "Ubuntu Medium", $systemfonts2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p + h3, ul + h3, ol + h3 {
  margin-top: $space3;
}

:where(ul[class], ol[class]) {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: rgb(var(--categoryColor));

  &:hover, &:focus {
    color: $link-color-hover;
  }
}

mark {
  padding: $space1 $space2;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* hide only visually */
/* https://gist.github.com/jensgro/743c37c3c1b226f7917fa0fc0825e3c2 */
.visuallyhidden, .sr-only {
  @include visuallyhidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

/* Avoid visible focus style on focusable elements like main */
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

.forward {
  margin-top: $space4;
  padding: $space2;
  border: 1px solid rgb(var(--categoryColor));
  border-radius: $br3;
  background-color: #fff;

  a {
    text-decoration: none;
    color: rgb(var(--categoryColor));
    font-weight: bold;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

}

/* Disable the default fade out effect on the old content */
::view-transition-old(root) {
  animation: none;
}

/* Make new content wipe in from the right */
::view-transition-new(root) {
  animation: wipe-in 0.6s ease-out forwards;
}

/* Animation wiping in the new content */
@keyframes wipe-in {
  from {
    clip-path: inset(0 0 0 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// @media (prefers-reduced-motion: no-preference) {

// }
