.card {
  border: 2px solid var(--categoryColor);
  margin-bottom:  $space4;

  &__head {
    background-color: var(--categoryColor);
    padding: $space2;
  }

  &__headline {
    color: var(--categoryTextColor);
    margin-bottom: 0;

    mark {
      padding-inline: $space1;
    }
  }

  &__body {
    padding: $space3 $space2;
  }

  &__items {
    margin-left: $space1;

    @media (min-width: $md) {
      columns: 2;
    }

    @media (min-width: $lg) {
      columns: 3;
    }

    li {
      padding: $space1 $space1 $space1 0;
    }

    a {
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  &__link {
    display: inline-block;
    padding: 0;
    margin-top: $space2;

    a {
      display: block;
      padding-right: $space2;
      text-decoration: none;
      color: var(--categoryColor);
    }

    &:hover, &:focus {
      text-decoration: underline;
      --linkColor: var(--categoryColorLight);
    }
  }

  &__arrow {
    display: inline-block;
    padding: $space1 $space2;
    background-color: var(--linkColor, var(--categoryColor));
    color: var(--categoryTextColor);
    margin-right: $space1;
  }

  &__link--block {
    padding: $space1 $space2;
    border: 2px solid var(--categoryColor);
    background: var(--categoryColor);
    color: var(--categoryTextColor);
    page-break-inside: avoid;
    break-inside: avoid;
    display: block;

    &:hover, &:focus, &:focus-visible {
      background-color: $lightergrey;
      color: var(--categoryColor);
    }
    &:focus-visible {
      outline: 3px solid var(--categoryColor);
    }

    & + & {
      margin-top: $space2;
    }

    a {
      text-decoration: none;
      display: block;
    }
  }
}
