@use "variables" as *;

.card {
  border: 2px solid var(--categoryColor);
  margin-bottom: $space4;
  border-radius: $br3;
}

.card header {
  overflow: hidden;
}

.card img {
  transition: all 0.25s;
}

.card:has(a:hover, a:focus) img,
.card img:is(:hover, :focus) {
  transform: scale(1.125);
}

.card a {
  display: block;
  padding: $space2;
  text-decoration: none;
}

.card a:is(:hover, :focus) {
  text-decoration: underline;
}
