.categories-list {
  li {
    margin-bottom: $m3;
  }

  a {
    display: block;
    font-size: 1.75rem;
    padding: $p1 $p1 0 $p1;
    text-decoration: none;
    border-bottom: $p2 solid $brown1;

    &.hauptgerichte {
      border-bottom-color: $color-hauptgerichte;
    }
    &.beilagen {
      border-bottom-color: $color-beilagen;
    }
    &.sonstiges {
      border-bottom-color: $color-sonstiges;
    }
    &.wissenswertes {
      border-bottom-color: $color-wissenswertes;
    }
  }



}
