@use "variables" as *;

.imageright {
  margin: $space1 0 $space2 0;
  padding: 10px 10px 10px 0;
  transition: all 0.25s linear;
  position: relative;
  z-index: 10;

  &:hover, &:focus, &:focus-visible, &:open {
    background-color: var(--categoryColor);
    color: $white;
    padding-left: 10px;
  }

  a {
    color: inherit;
  }
}
