.imageright {
  margin: $space1 0 $space2 0;
  padding: 10px 10px 10px 0;
  transition: all 0.25s linear;

  &:hover, &:focus {
    background-color: var(--categoryColor);
    color: $white;
    padding-left: 10px;
  }
}
