@use "variables" as *;

.imageright {
  margin: $space1 0 $space2 0;
  padding: 10px 10px 10px 0;
  transition: all 0.25s linear;
  font-size: 1rem;
  width: max-content;

  &:hover, &:focus, &:focus-visible {
    background-color: var(--categoryColor);
    color: $white;
    padding-left: 10px;
    cursor: pointer;
  }

  a {
    color: inherit;
  }

  &[open] summary {
    margin-bottom: 12px;
  }
}
