.container {
  padding: $space2 $space4;
  margin: 0 $space2;

  @media (min-width: $lg) {
    max-width: $maxwidth;
    margin: 0 auto;
    padding-inline: $space6;
  }
}

.container--bg {
  background-color: $container-bg;
}
