@use "variables" as *;

.container {
  padding: $space2 $space4;
}

@media (min-width: $lg) {

  .container > * {
    margin: 0 auto;
    max-width: $maxwidth;
    padding-inline: $space6;
  }
}

.container--bg {
  background-color: $container-bg;
}

.container--bg-neutral {
  background-color: #fff;
}

.container.header-cnt {
  background-color: #fff;
  border-bottom: 1px solid rgba(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  gap: 0;

  @media (width > $md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: $space4;
  }
}


.index-container {
  display: grid;
  gap: $space4;
  border: 1px solid var(--color-line);
  border-radius: $br6;
  padding: var(--index-padding);
  overflow: clip;
  margin-bottom: $space6;
}

.index-headline {
  margin-top: calc(var(--index-padding) * -1);
  margin-inline: calc(var(--index-padding) * -1);
  padding: calc(var(--index-padding) * 0.5) var(--index-padding);
  background-color: var(--categoryColor, #000);
  color: $white;
}
