.container {
  padding: $space2 $space4;
  margin: 0 $space2;

  @media (min-width: $lg) {
    max-width: $maxwidth;
    margin: 0 auto;
    padding-inline: $space6;
  }
}

.grid {
  display: flex;
  gap: $gap2;

  .card {
    flex: 1 1 auto;
  }
}

@media (min-width: $md) {
  .grid-md-2 .card{
    flex: 1 1 50%;
  }
}

@media (min-width: $lg) {
  .grid-lg-3 .card {
    flex: 1 1 33.333333333%;
  }
}
