@use "variables" as *;

.container {
  padding: $space2 $space4;
}

@media (min-width: $lg) {

  .container > * {
    margin: 0 auto;
    max-width: $maxwidth;
    padding-inline: $space6;
  }
}

.container--bg {
  background-color: $container-bg;
}

.container--bg-neutral {
  background-color: #fff;
}

.container.header-cnt {
  background-color: #fff;
  border-bottom: 1px solid rgba(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  gap: 0;

  @media (width > $md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: $space4;
  }
}
