.container {
  padding: $space2 $space4;
  margin: 0 $space2;

  @media (min-width: $lg) {
    max-width: $maxwidth;
    margin: 0 auto;
    padding-inline: $space6;
  }
}

.container--bg {
  background-color: $container-bg;
}
// ======= Versuch mit view-transitions ===========
// body {
//   view-transition-name: page;
// }
// @view-transition {
//   navigation: auto;
// }
// ::view-transition-old(page) {
//   animation-name: fadeOut;
// }
// ::view-transition-new(page) {
//   animation-name: fadeIn;
// }
// ::view-transition-group(page) {
//   animation-duration: 0.7s;
// }
// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 0.7;
//   }
// }
// @keyframes fadeOut {
//   0% {
//     opacity: 0.7;
//   }
//   100% {
//     opacity: 0;
//   }
// }
