@use "variables" as *;

.home .logo-cnt,
.logo-cnt a {
  display: flex;
  gap: $space2;
  color: #000;
}

.logo-cnt a {
  text-decoration: none;
}

.logo-cnt a:is(:hover, :focus) {
  text-decoration: underline;
}

.logo {
  color: #a20000;
}
.logo svg {
  fill: #000;
  width: 48px;
}
