@use "variables" as *;

.logo-cnt:not(:has(> a)),
.logo-cnt a {
  display: flex;
  gap: $space2;
}

.logo-cnt a {
  text-decoration: none;
}

.logo-cnt a:is(:hover, :focus) {
  text-decoration: underline;
}

.logo svg {
  fill: #a20000;
  width: 48px;
}
