// Der Wrapper um die .main-nav
// Eigentlich sollte eine Datei mit der nach ihr benannten Klasse beginnen.
// Immer diese Ausnahmen ... :-)
.main-nav-wrapper {
  background-color: $main-nav-wrapper-bg;
}

.main-nav {
  background-color: $main-nav-bg;
  padding: $p2 $p5;

  @media (min-width: $maxwidth) {
    padding: $p2 0;
  }

  &__nav {
    overflow: hidden;
    @include nolist;

    @media (min-width: $md) {
      overflow: auto;
    }
  }

  &__item {
    float: left;
    margin-right: $m3;
    margin-bottom: $m2;

    &:first-child {
      margin-right: auto;
    }

    &:nth-child(2) {
      clear: left;
    }

    &:last-child {
      @media (min-width: $maxwidth) {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    background-color: $lightergrey;
    color: $black;
    padding: $p1;
    text-decoration: none;
    border-radius: 8px;

    &:hover,
    &:focus,
    &--active {
      background-color: $brown;
      color: $white;
    }

    &--active {
      font-weight: 700;
    }
  }
  @media (min-width: $md) {
    &__nav {
      display: flex;
    }

    &__link {
      display: block;
      padding: $p2;
    }
  }
}

.main-nav-wrapper,
.main-nav {
  body.home & {
    background-color: $color-index;

    .main-nav__link {
      background-color: $lightorange;

      &:hover,
      &:focus,
      &--active {
        background-color: $brown;
        color: #fff;
      }
    }
  }

  body.hauptgerichte & {
    background-color: $color-hauptgerichte;

    .main-nav__link {

      &:hover,
      &:focus,
      &--active {
        background-color: $blue;
        color: $white;
      }
    }
  }

  body.beilagen & {
    background-color: $color-beilagen;

    .main-nav__link {

      &:hover,
      &:focus,
      &--active {
        background-color: $brown1;
        color: $black;
      }
    }
  }

  body.sonstiges & {
    background-color: $color-sonstiges;

    .main-nav__link {

      &:hover,
      &:focus,
      &--active {
        background-color: $mediumblue;
        color: $white;
      }
    }
  }

  body.wissenswertes & {
    background-color: $color-wissenswertes;

    .main-nav__link {

      &:hover,
      &:focus,
      &--active {
        background-color: $lightblue;
        color: $blue;
      }
    }
  }
}


