@use "variables" as *;

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: $space2 0;
}

.main-navigation li:first-of-type {
  margin-right: $space4;
}

.main-navigation__link {
  color: var(--categoryColor);
  display: inline-block;
  text-decoration: none;
  padding: $space1;
  font-size: 0.875rem;
  font-weight: 700;
}

.main-navigation__link:is(:hover, :focus) {
  color: $white;
  background-color: var(--categoryColor);
  border-radius: 4px;
}

.main-navigation__link--active {
  background-color: var(--categoryColor);
  border-radius: 4px;
  color: $white;
  font-weight: 700;
}
