@use "variables" as *;

.main-nav {

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    padding: $space2 0;
    // border-bottom: 2px solid #000;
    // border-bottom-color: var(--categoryColor);
  }

  &__item {

    &:first-of-type {
      margin-right: $space4;
    }

  }

  &__link {
    color: var(--categoryColor);
    display: inline-block;
    text-decoration: none;
    padding: $space1;
    font-size: 0.875rem;
    font-weight: 700;

    &:hover,
    &:focus {
      color: $white;
      background-color: var(--categoryColor);
      border-radius: 4px;
    }

    &--active {
      background-color: var(--categoryColor);
      border-radius: 4px;
      color: $white;
      font-weight: 700;
    }
  }
}
