// Der Wrapper um die .main-nav
// Eigentlich sollte eine Datei mit der nach ihr benannten Klasse beginnen.
// Immer diese Ausnahmen ... :-)
.main-nav-wrapper {
  background-color: $main-nav-wrapper-bg;
}

.main-nav {
  background-color: $main-nav-bg;
  padding: $space2 $space5;

  @media (min-width: $maxwidth) {
    padding: $space2 0;
  }

  &__nav {
    overflow: hidden;
    @include nolist;

    @media (min-width: $md) {
      overflow: auto;
    }
  }

  &__item {
    float: left;
    margin-right: $space3;
    margin-bottom: $space2;

    &:first-child {
      margin-right: auto;
    }

    &:nth-child(2) {
      clear: left;
    }

    &:last-child {
      @media (min-width: $maxwidth) {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    background-color: $lightergrey;
    color: $black;
    padding: $space1;
    text-decoration: none;
    border-radius: 8px;

    &:hover,
    &:focus,
    &--active {
      background-color: $brown;
      color: $white;
    }

    &--active {
      font-weight: 700;
    }
  }
  @media (min-width: $md) {
    &__nav {
      display: flex;
    }

    &__link {
      display: block;
      padding: $space2;
    }
  }
}

@include mainnav("home", $color-index, $brown, $white, $lightorange);
@include mainnav("hauptgerichte", $color-hauptgerichte, $blue, $white);
@include mainnav("beilagen", $color-beilagen, $brown1, $black);
@include mainnav("sonstiges", $color-sonstiges, $mediumblue, $white);
@include mainnav("wissenswertes", $color-wissenswertes, $lightblue, $blue);
