@use "variables" as *;

@mixin nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin mygrid($name, $min: "320px") {
  .#{$name} {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
    grid-gap: 0.75em;
  }

  .#{$name} li {
    min-width: auto;
    margin: 0;
  }
}

/* hide only visually */
// https://gist.github.com/jensgro/743c37c3c1b226f7917fa0fc0825e3c2
@mixin visuallyhidden {
  width: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}