.mygrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;

  > * {
    flex: 1 1 100%;
  }
}

@media (min-width: $lg) {
  .mygrid--2 {
    >* {
      flex: 0 0 calc(50% - $gap2);
    }
  }

  .mygrid--3 {
    >* {
      flex: 0 0 calc(33.33333% - $gap2);
    }
  }

  .mygrid--4 {
    >* {
      flex: 0 0 calc(25% - $gap2);
    }
  }
}

$index-gap: 40px;

.mygrid--index {
  gap: $index-gap;
}

.categories-cnt {
  flex: 1 1 calc(25% - $index-gap);
}

.last-content-cnt {
  flex: 1 1 calc(75% - $index-gap);
}

// jetzt doch noch Gestaltung
.mygrid--last-content {
  a {
    display: block;
    text-decoration: none;

    &:hover, &:focus {

      img {
        opacity: 0.5;
      }
    }
  }

  span {
    display: block;
    padding: $space2;
    background-color: $lightergrey;
    font-size: 1.25rem;

    &:hover, &:focus {
      background-color: $lightgray;
    }
  }

}
