@use "variables" as *;

@mixin listitem {
  background-color: $lightergrey;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

@mixin listitemIndex {
  @include listitem;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $gap2;

  &-card {
    &__headline {
      background-color: #bdb3b3;
      padding: 4px 8px;

      a {
        color: #000;
        text-decoration: none;

        &:hover,
        &:focus {
          color: #000;
          text-decoration: underline;
        }
      }
    }

    &__image img {
      aspect-ratio: 16/9;
    }

    &__tags {
      margin-top: $space2;
    }

    &__tag {
      display: inline-block;
      padding: $space1;
      //border: 1px solid #000;
    }
  }

  &__forward {
    max-width: 440px;
    margin-top: 20px;
  }
}

.list {

  &--shortlist {
    display: grid;
    gap: $gap;
  }

  &__item--overview {
    @include listitemIndex;
    overflow: hidden;
    border-radius: 8px;

    a {
      display: block;
      margin: 10px;
      text-decoration: none;

    }

    &:hover, &:focus {
      position: relative;
      bottom: 2px;
      left: 2px;

      a {
        text-decoration: underline;
      }
    }
  }

  &--grid-home .list,
  &--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $gap;
  }
}

.list--home {
  gap: $space4;
}
