@mixin listitem {
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

@mixin listitemIndex {
  padding: 10px;
  @include listitem;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $gap2;

  &-card {
    &__headline {
      background-color: #bdb3b3;
      padding: 4px 8px;

      a {
        color: #000;
        text-decoration: none;

        &:hover,
        &:focus {
          color: #000;
          text-decoration: underline;
        }
      }
    }

    &__image img {
      aspect-ratio: 16/9;
    }

    &__tags {
      margin-top: $space2;
    }

    &__tag {
      display: inline-block;
      padding: $space1;
      //border: 1px solid #000;
    }
  }

  &__forward {
    @include listitemIndex;
    max-width: 440px;
    margin-top: 20px;
  }
}

.list {

  &--shortlist {
    display: grid;
    gap: $gap;
  }

  &__item--overview {
    @include listitemIndex;

    a {
      display: block;
      margin-top: 10px;

    }
  }

  &--grid-home .list,
  &--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $gap;
  }
}