.recipe {
  font-size: 1.125rem;
  padding-top: $space6;

  h2, h3, h4 {
    margin-bottom: 20px;
  }

  &__intro {
    background-color: $lightgray;
    padding: $space2;
  }
}

body.hauptgerichte .recipe__intro {
  background-color: rgba($mediumblue, 0.5);
}

body.beilagen .recipe__intro {
  background-color: rgba($myred, 0.5);
}

body.sonstiges .recipe__intro {
  background-color: rgba($lightblue, 0.5);
}

@media (min-width: $md) {
  .recipe {
    display: grid;
    grid-gap: 2em;
    grid-template-areas:
      "intro intro"
      "ingredients content"
      "tipps tipps"
    ;

    &__intro {
      grid-area: intro;

    }
    &__ingredients {
      grid-area: ingredients;

      ul {
        padding-left: 10px;
        margin-left: 10px;
      }
    }

    &__content {
      grid-area: content;
    }
    &__tipps {
      grid-area: tipps;
    }
  }
}
