@use "variables" as *;

.siteheader {

  aspect-ratio: 7 / 2;

  @media print {
    aspect-ratio: auto;
  }

  &__img {
    object-fit: cover;
  }

  &__headline {
    padding: $space1 0;
    color: var(--categoryColor);
    margin: 0;
  }
}
