.site__footer {
  border-top: 2px solid $blue2;

  ul {
    list-style: none;
    padding-left: 0;
    margin: $m2;
    width: 100%;
    display: flex;

    @media (min-width: $maxwidth) {
      margin: $m2 0;
    }

    .getback__link {
      margin-left: 0;
      margin-right: auto;
    }
    li {
      margin-left: 24px;
    }
  }

  .home & {
    li:first-child {
      margin-left: 0;
    }
  }
}
