.sitefooter {
  border-top: 2px solid $blue2;

  ul {
    list-style: none;
    padding-left: 0;
    margin: $space2 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $maxwidth) {
      margin: $space2 0;
    }

    .getback__link {
      margin-left: 0;
      margin-bottom: $space2;
      flex: 1 0 100%;
    }

    li {
      margin-right: $space4;
    }
  }

  .home & {
    li:first-child {
      margin-left: 0;
    }
  }
}
