@use "variables" as *;

.siteheader {

  aspect-ratio: 7 / 2;

  @media print {
    aspect-ratio: auto;
  }

  &__img {
    object-fit: cover;
  }

  &__headline {
    padding: $space1 0;
    color: var(--categoryColor);
    margin: 0;
  }
}

.siteheader--recipe {
  display: flex;
  flex-direction: column-reverse;
  gap: $space3;


  @media (width > $md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space4;
  }

  .siteheader__img {
    // grid-area: image;
    aspect-ratio: 16/9;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }

}
.siteheader__imagecontainer {

  .recipe__tags {
    margin-bottom: 36px;
  }
  .taglist.taglist--short a {
    padding: 2px 4px;
    font-size: 0.8rem;
    border-width: 1px;
    border-radius: 4px;
  }

}
.siteheader__contentcontainer {

}
