.siteheader {
  aspect-ratio: 7 / 2;
  position: relative;
  object-fit: cover;

  @media print {
    aspect-ratio: auto;
  }

  &__headline,
  &__subline {
    margin-bottom: 0;
  }

  &__headline-cnt {
    position: static;
    padding: $space2 $space4 $space2 $space2;
    color: var(--categoryTextColor);
    background-color: var(--categoryColor);

    @media (min-width: $md) {
      position: absolute;
      top: 0;
      left: 0;
      color: $siteheader-headline-cnt-color;
      background-color: $siteheader-headline-cnt-bg;
    }

    @media print {
      position: static;
    }
  }
}

