.siteheader {
  aspect-ratio: 7 / 2;
  position: relative;
  object-fit: cover;

  @media print {
    aspect-ratio: auto;
  }

  &__logo {
    width: 520px;
    display: block;
    margin-bottom: $space2;
  }

  &__headline,
  &__subline {
    margin-bottom: 0;
  }

  &__logo-cnt {
    position: static;
    padding: $space2 $space4 $space2 $space2;
    color: var(--categoryTextColor);
    background-color: var(--categoryColor);

    @media (min-width: $md) {
      position: absolute;
      top: 0;
      left: 0;
      color: $siteheader-headline-cnt-color;
      background-color: $siteheader-headline-cnt-bg;
    }

    @media print {
      position: static;
    }
  }

  &__headline {

    @media (min-width: $md) {
      position: absolute;
      bottom: 0;
      left: 0;
      color: $siteheader-headline-cnt-color;
      background-color: $siteheader-headline-cnt-bg;
      padding: $space1 $space6;
    }
  }
}

.tag-header {
  &__logo {
    background-color: black;
    padding: $space2;
  }
}
