@use "variables" as *;

.taglist {
  margin-left: $space1;
  display: flex;
  flex-wrap: wrap;
  gap: $gap $gap2;

  a {
    display: block;
    padding: 2px 4px;
    color: var(--categoryColor);
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid var(--categoryColor);
    border-radius: 4px;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
      background-color: #000;
    }

    &:focus-visible {
      outline: 3px solid var(--categoryColor);
    }
  }

}

aside.container--bg .taglist {
  margin-bottom: $space4;
}
