.taglist {
  margin-left: $space1;
  display: flex;
  flex-wrap: wrap;
  gap: $space2;

  &__link {

    color: var(--categoryColor);

    &:hover, &:focus {
      text-decoration: none;
    }

    &:focus-visible {
      outline: 3px solid var(--categoryColor);
    }
  }

  &.taglist--short {
    .taglist__link {
      padding: $space1;
      color: var(--categoryTextColor);
      background-color: var(--categoryColor);
      text-decoration: none;

      &:hover, &:focus {
        color: #fff;
        background-color: #000;
      }
    }
  }

}


