@use "variables" as *;

.taglist {
  margin-left: $space1;
  display: flex;
  flex-wrap: wrap;
  gap: $gap $gap2;

  a {

    color: var(--categoryColor);

    &:hover, &:focus {
      text-decoration: none;
    }

    &:focus-visible {
      outline: 3px solid var(--categoryColor);
    }
  }

  & {
    a {
      display: block;
      padding: 2px 4px;
      border-radius: 4px;
      font-size: 0.8rem;
      border: 1px solid var(--categoryColor);
      text-decoration: none;

      &:hover, &:focus {
        color: #fff;
        background-color: #000;
      }
    }
  }

}


