@use "variables" as *;
@use "mixins" as *;

.taglist {
  margin-left: $space1;
  display: flex;
  flex-wrap: wrap;
  gap: $gap $gap2;

  a {

    color: var(--categoryColor);

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:focus-visible {
      outline: 3px solid var(--categoryColor);
    }
  }

  &.taglist--short {
    a {
      display: block;
      padding: $space1 $space2;
      border: 2px solid var(--categoryColor);
      text-decoration: none;

      &:hover,
      &:focus {
        color: #fff;
        background-color: #000;
      }
    }
  }

}