@use "variables" as *;
@use "mixins" as *;

.tipps-list {
  display: grid;
  gap: $gap2;

  &__item {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: $gap2;
  }

  &__item--flex {
    display: flex;
    gap: $gap2;
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
  }
}