// ============= Abstände
$p05: 3px;
$space1: 6px;
$space2: $space1 * 2;
$space3: $space1 * 3;
$space4: $space1 * 4;
$space5: $space1 * 5;
$space6: $space1 * 6;

// Gap für Flexbox und Grid
$gap: 10px;
$gap2: $gap * 2;
$gap3: $gap * 3;

// ==== Breakpoints
$sm: 600px;
$md: 800px;
$lg: 1000px;
$maxwidth: 1200px;

// =============== Fonts
$systemfonts1: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$systemfonts2: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// ======= Farben
$black: #000;

$brown: brown;

$orange: #fd8700;
$orange2: #ffb30e;
$lightorange: #ffe0a5;

$red: #C5004A;
$myred: #a20000;
$darkred: #7F0036;

$lightergrey: #f7f7f7;
$lightgray: #e0e0e0;
$gray: #C0C0C0;
$darkgray: #333;
$darkergrey: #aaa;

$navy: #17050F;
$mediumblue: #0277BD;
$lightblue: #a0cbe4;
$lightblue2: #c0e7fe;
$blue: #082840;
$blue2: #0b4396;

$lightyellow: #ffc;
$brown1: sandybrown;

$nearlywhite: #fafafa;
$white: #fff;

$maincolor: $mediumblue; // $orange2

// ==== Farben Angie
$color-angie-1: #242329;
$color-angie-2: #a20000;
$color-angie-3: #d4d432;
$color-angie-4: #5d4224;
$color-angie-5: #c3bfae;

// ==================================

// $color-index: $color-angie-1;
// $color-hauptgerichte: $color-angie-2;
// $color-beilagen: $color-angie-3;
// $color-sonstiges: $color-angie-4;
// $color-wissenswertes: $color-angie-5;

$color-index: #474747; //#6F4E37
$color-hauptgerichte: #7d4d19; //#A66626;
$color-beilagen: #006461; //teal; //#4682B4
$color-sonstiges: #595900;
$color-wissenswertes: #8b4242; // #a65353;

$link-color: $white;
$link-color-hover: teal;

$page-bg: $color-angie-5;
$container-bg: $lightergrey;

$siteheader-headline-cnt-bg: rgba(0, 0, 0, 0.5);
$siteheader-headline-cnt-color: #fafafa;