---
layout: layouts/home.njk
permalink: /archiv/

---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<div class="container">
  <div class="getback"><a class="getback__link" href="{{ '/' | url }}">zurück zur Startseite</a></div>
</div>
