---
layout: layouts/recipe.njk
title: "Die Beilagen"
eleventyNavigation:
  key: Beilagen
  order: 3
---

<ul class="collection-overview">
  {%- for post in collections.recipesDescending -%}
    {% if post.data.category == "beilage" %}
    <li><a href="{{ post.url | url}}">{{ post.data.title }}</a></li>
    {% endif %}
  {%- endfor -%}
  </ul>
