---
layout: layouts/home.njk
title: "Flocke Online - Essen im Netz"
subline: "Meine kleine Rezeptsammlung"
headerImage: gewuerze
headerImageLink: https://pixabay.com/de/photos/gew%c3%bcrze-chili-paprika-pulver-370114/
headerImageAttribution: "Bild von <a href='https://pixabay.com/de/users/babawawa-299001/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=370114'>Barbara Rosner</a> auf <a href='https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=370114'>Pixabay</a>"
eleventyNavigation:
  key: Startseite
  order: 1
---

  {% include "categories.njk" %}
  {% include "letzte-rezepte.njk" %}


