---
layout: layouts/home.njk
title: "Flocke Online - Essen im Netz"
subline: "Meine kleine Rezeptsammlung"
eleventyNavigation:
  key: Home
  order: 1
---

  {% include "letzte-rezepte.njk" %}
  {% include "uebersicht.njk" %}
  {% include "fleischrezepte2.njk" %}
  {% include "vegetarische-rezepte.njk" %}
  {% include "beilagen.njk" %}
  {# {% include "vegetarischerezepte.njk" %} #}
  {% include "categories.njk" %}
<div class="sectionlike">
    <p class="hint">Alle Rezepte gibt es im <a href="{{ '/posts/' | url }}">Archiv</a>.</p>
</div>

