---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
templateClass: tmpl-tags
renderData:
  title: Kategorie "{{ tag }}"
permalink: /{{ tag }}/
---
<div class="headline-cnt">
  <h1 class="tag-headline">Alle Rezepte der Kategorie <mark>{{ tag }}</mark></h1>
</div>

{% set postslist = collections[ tag ] %}
{% include "tagslist.njk" %}

