---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
templateClass: tmpl-tags
renderData:
  title: Kategorie "{{ tag }}"
permalink: /tags/{{ tag }}/
---
<h1>Alle Rezepte der Kategorie <mark class="headline__mark">{{ tag }}</mark></h1>

{% set postslist = collections[ tag ] %}
{% include "tagslist.njk" %}

<p>Alle <a href="{{ '/tags/' | url }}">Kategorien</a> sehen.</p>
