---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
templateClass: tmpl-tags
renderData:
  title: Kategorie "{{ tag }}"
permalink: /tags/{{ tag }}/
---


{% set postslist = collections[ tag ] %}
{% include "tagslist.njk" %}

