<section>
  <h2 class="content__headline">Alle Kategorien</h2>
  <ol class="nolist mygrid mygrid--categories">
    {% for item in categories %}
      <li>
        <div class="card">
          <div class="card__image-cnt">
            <a href="{{ item.url | url }}">
              <img class="card__image" src="https://dummyimage.com/16:9x300" alt="">
              <span class="card__title">{{ item.title }}</span>
            </a>
          </div>
        </div>
      </li>
    {% endfor %}
    </ol>
</section>
