<section>
  <h2 class="content__headline">Alle Kategorien</h2>
  <ul class="taglist taglist--index">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    {% set tagCount = collections[tag].length %}
    <li class="taglist__item">
      <span class="taglist__count">{{ tagCount }} x </span>
      <a class="taglist__link" href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
    </li>
  {% endfor %}
  </ul>
</section>
