<section>
  <h2 class="content__headline">Alle Kategorien</h2>
  <ol class="indexlist archive-grid">
    {% for item in categories %}
      <li class="indexlist-item">
        <div class="card">
          <div class="card__image-cnt">
            <a href="{{ item.url | url }}">
              <img class="card__image" src="https://placeimg.com/498/280/any" alt="">
            </a>
          </div>
          <div class="card__title">
              <a href="{{ item.url | url }}" class="card__link">{{ item.title }}</a>
          </div>
        </div>
      </li>
    {% endfor %}
    </ol>
</section>
