
  <ol class="nolist row">
  {% for post in postslist %}
    <li class="col">
      <div class="card">
        <a href="{{ post.url | url }}">
          <img class="card-img-top" src="https://placeimg.com/498/280/any" alt="">
          <!-- <img class="card__image" src="https://placeimg.com/640/360/any" alt=""> -->
          <!-- <img class="card__image" src="../img/{{ post.data.introImage }}-xs.jpg" alt=""> -->
        </a>
        <div class="card-body">
          <a href="{{ post.url | url }}" class="card-title d-2">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        </div>
      </div>
    </li>
  {% endfor %}
  </ol>

