
  <ol class="indexlist archive-grid">
  {% for post in postslist %}
    <li class="indexlist-item{% if post.url == url %} indexlist-item-active{% endif %}">
      <div class="card">
        <div class="card__image-cnt">
          <a href="{{ post.url | url }}">
            <img class="card__image" src="../img/{{ post.data.introImage }}-xs.jpg" alt="">
          </a>
        </div>
        <div class="card__title">
            <a href="{{ post.url | url }}" class="card__link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        </div>
      </div>
    </li>
  {% endfor %}
  </ol>

