
  <ol class="nolist mygrid mygrid--4">
  {% for post in postslist %}
    <li>
      <div class="card">
        <div class="card__image-cnt">
          <a href="{{ post.url | url }}">
            <img class="card__image" src="https://placeimg.com/220/220/any" alt="">

            <span class="card__title">{{ post.data.title }}</span>
          </a>
          <!-- <div class="card__title">
            <a href="{{ post.url | url }}" class="card__link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
          </div> -->
        </div>
      </div>
    </li>
  {% endfor %}
  </ol>

