
  <ol class="nolist row">
  {% for post in postslist %}
    <li class="col">
      <div class="card">
        <img class="card-img-top" src="https://placeimg.com/220/220/any" alt="">
        <div class="card-body">
          <a href="{{ post.url | url }}">
            <span class="card-title">{{ post.data.title }}</span>
          </a>
          <!-- <div class="card__title">
            <a href="{{ post.url | url }}" class="card__link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
          </div> -->
        </div>
      </div>
    </li>
  {% endfor %}
  </ol>

