<ol class="mygrid mygrid--3times mygrid--tag">
  {% for post in postslist %}
  <li>
    <div class="card">
      <div class="card__image-cnt">
        <a href="{{ post.url | url }}">
        {%- if post.data.introImage -%}
            <img class="card__image" src="/img/{{ post.data.introImage }}-xs.jpg" alt="">
          {%- else -%}
            <img class="card__image" src="http://dummyimage.com/250x100" alt="">
        {%- endif -%}
        <span class="card__title">{{ post.data.title }}</span>
        </a>
      </div>
    </div>
  </li>
  {% endfor %}

</ol>
