<section>
  <h2 class="content__headline">Ausgesuchte Kategorien</h2>
  <ol class="indexlist archive-grid">
    <li class="indexlist-item">
      <div class="card card--selected">
        <div class="card__image-cnt">
          <a href="/tags/fleisch/">
            <img class="card__image" src="https://picsum.photos/200" alt="">
            <div class="card__image-title">Fleisch</div>
          </a>
        </div>
      </div>
    </li>
    <li class="indexlist-item">
      <div class="card card--selected">
        <div class="card__image-cnt">
          <a href="/tags/asien">
            <img class="card__image" src="https://picsum.photos/200" alt="">
            <div class="card__image-title">Asien</div>
          </a>
        </div>
      </div>
    </li>
    <li class="indexlist-item">
      <div class="card card--selected">
        <div class="card__image-cnt">
          <a href="/tags/gemüse/">
            <img class="card__image" src="https://picsum.photos/200" alt="">
            <div class="card__image-title">Gemüse</div>
          </a>
        </div>
      </div>
    </li>
  </ol>
</section>
