  <section>
    <h2 class="content__headline">Vegetarische Rezepte</h2>
    {% set postslist = collections.veggierezepte | head %}
    {% set postslistCounter = collections.veggierezepte | length %}
    {% include "itemlist.njk" %}
  </section>
