  <section>
    <h2 class="content__headline">Vegetarische Rezepte</h2>
    {% set postslist = collections.veggierezepte | head(-3) %}
    {% set postslistCounter = collections.veggierezepte | length %}
    {% include "indexlist.njk" %}
  </section>
