<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  {% if  bodyClass == "index" %}
    {% set class = "home" %}
    {% set categoryColor = "brown" %}
  {% elif bodyClass == "hauptgerichte" %}
    {% set class = "recipepage hauptgerichte" %}
  {% elif category == "hauptgerichte" %}
    {% set class = "recipepage hauptgerichte" %}
  {% elif bodyClass == "beilagen" %}
    {% set class = "recipepage beilagen" %}
  {% elif category == "beilagen" %}
    {% set class = "recipepage beilagen" %}
  {% elif bodyClass == "sonstiges" %}
    {% set class = "recipepage sonstiges" %}
  {% elif category == "sonstiges" %}
    {% set class = "recipepage sonstiges" %}
  {% elif bodyClass == "wissenswertes" %}
      {% set class = "recipepage wissenswertes" %}
  {% elif category == "wissenswertes" %}
      {% set class = "recipepage wissenswertes" %}
  {% else %}
    {% set class = "" %}
  {% endif %}
  <body class="{{ class }}">
      {% include "partials/site-header.njk" %}

      {{ content | safe }}

      {% if templateClass != "tmpl-recipe" %}
        {% include "partials/tags.njk" %}
      {% endif %}
      {% include "partials/recommendations.njk" %}

      {% include "partials/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
