<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  {% if  bodyClass == "index" %}
    {% set class = "home" %}
  {% elif bodyClass == "hauptgerichte" %}
    {% set class = "recipepage hauptgerichte" %}
  {% elif category == "hauptgericht" %}
    {% set class = "recipepage hauptgerichte" %}
  {% elif bodyClass == "beilagen" %}
    {% set class = "recipepage beilagen" %}
  {% elif category == "beilage" %}
    {% set class = "recipepage beilagen" %}
  {% elif bodyClass == "sonstiges" %}
    {% set class = "recipepage sonstiges" %}
  {% elif category == "sonstiges" %}
    {% set class = "recipepage sonstiges" %}
  {% elif bodyClass == "wissenswertes" %}
      {% set class = "recipepage wissenswertes" %}
  {% elif category == "wissenswertes" %}
      {% set class = "recipepage wissenswertes" %}
  {% else %}
    {% set class = "" %}
  {% endif %}
  <body class="{{ class }}">
    <header class="main-nav-wrapper no-print">
      <nav class="container main-nav">
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <ul class="main-nav__nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="main-nav__item">
            <a  class="main-nav__link{% if entry.url == page.url %} main-nav__link--active{% endif %}"
                href="{{ entry.url | url }}">
                {{ entry.title }}
            </a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
    </header>

      {% include "partials/site-header.njk" %}

      {{ content | safe }}

      {% include "partials/tags.njk" %}
      {% include "partials/recommendations.njk" %}

      {% include "partials/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
