---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% include "partials/site-header.njk" %}
{% if recipe %}
  <main class="recipe">
    <div class="container container--bg">
    {% else %}
      <main class="post">
        <div class="container container--bg">
        {% endif %}
        {% if introText %}
          <div class="recipe__intro">
            {% for t in introText %}
              <p>{{ t }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {{ content | safe }}
      </div>
    </main>