---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="container mb-4">
  {% if recipe %}
  <main class="recipe">
  {% else %}
  <main class="post">
  {% endif %}
    {% if introText %}
    <div class="recipe__intro">
      <p>{{ introText}}</p>
    </div>
    {% endif %}
    {{ content | safe }}
  </main>
</div>



