---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="container">
  {% if recipe %}
  <main class="recipe">
  {% else %}
  <main class="post">
  {% endif %}
    {% if introText %}
    <div class="recipe__intro">
      {% for t in introText %}
      <p>{{ t }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {{ content | safe }}
  </main>
</div>



