---
layout: layouts/base.njk
templateClass: tmpl-recipe
---
<div class="container">
  <main class="recipe" itemscope itemtype="https://schema.org/Recipe">
    {% if introText %}
    <div class="recipe__intro" itemprop="description">
    {% for t in introText %}
      <p>{{ t }}</p>
    {% endfor %}
    </div>
    {% endif %}

    <div class="recipe__tags">
      <ul class="taglist taglist--short">
        {%- for tag in tags -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li class="taglist__item">
          <a class="taglist__link" href="{{ tagUrl | url }}">
            {{ tag }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>

    {% if ingredients %}
    <div class="recipe__ingredients">
      <h2 class="separator"><span>Zutaten</span></h2>
      <ul class="ingredients-list">
        {% for i in ingredients %}
        <li itemprop="recipeIngredient">{{ i }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if recipe %}
    <div class="recipe__content">
      <h2 class="separator"><span>Zubereitung</span></h2>
      <ul class="recipe-instructions" itemprop="recipeInstructions">
        {% for r in recipe %}
        <li>{{ r }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if tipps %}
    <div class="recipe__tipps">
      <h2 class="separator"><span>Tipps/Hinweise/Bemerkungen</span></h2>
      <ul class="tipps-list">
        {% for tip in tipps %}
        <li>{{ tip }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </main>
</div>


