---
layout: layouts/base.njk
templateClass: tmpl-recipe
---
<div class="container mb-4">
  <main class="recipe">
    {% if introText %}
    <div class="recipe__intro">
      <p>{{ introText}}</p>
    </div>
    {% endif %}

    {% if ingredients %}
    <div class="recipe__ingredients">
      <h2>Zutaten</h2>
      <ul>
        {% for i in ingredients %}
        <li>{{ i }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if recipe %}
    <div class="recipe__content">
      <h2>Zubereitung</h2>
      <ul>
        {% for r in recipe %}
        <li>{{ r }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {%- if tipps -%}
    <div class="recipe__tipps">
      <h2>Tipps/Hinweise/Bemerkungen</h2>
      <ul>
        {% for tip in tipps %}
        <li>{{ tip }}</li>
        {% endfor %}
      </ul>
    </div>
    {%- endif -%}
  </main>
  {%- if tags -%}
  <div class="tags">
    <h2>Tag(s)</h2>
    <ul class="taglist taglist--footer taglist--extended">
      {% for tag in tags %}
        {% set tagUrl %}/{{ tag }}/{% endset %}
        <li class="taglist__item">
          <a class="taglist__link" href="{{ tagUrl | url }}" class="tag">
            {{ tag }}
          </a>
        </li>
      {% endfor %}
      </ul>
  </div>
  {%- endif -%}
</div>


{%- if rec -%}
<section class="container">
  <div class="card card--rec">
    <div class="card__header">
      <h2 class="card__headline">Weiterführende Links</h2>
    </div>
    <div class="card__body">

      <ul>
        {%- for page in rec -%}
        <li>
          <a href="{{ page.url }}">{{ page.title }}</a>{% if page.note %} <span class="listing__note">- {{page.note}}</span>{% endif %}
        </li>
      {%- endfor -%}
      </ul>

    </div>
  </div>
</section>
{%- endif -%}

