---
layout: layouts/post.njk
title: "Die Hauptgerichte"
bodyClass: hauptgerichte
permalink: /hauptgerichte.html
headerImage: placeholder6
headerImageLink: https://www.pexels.com/de-de/foto/kunst-graffiti-dreckig-textur-7486894/
headerImageAttribution: Foto von Steve Johnson von Pexels
eleventyNavigation:
  key: hauptgerichte
  order: 2
---
<div class="card">
  <div class="card__head">
    <h2 class="card__headline">Rezepte der Kategorie {{eleventyNavigation.key | capitalize}}</h2>
  </div>
  <div class="card__body">
    <ul class="card__items">
      {% for post in collections.recipesDescending %}
        {% if post.data.category == "hauptgericht" %}
        <li class="card__item--block"><a href="{{ post.url | url}}">{{ post.data.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
