---
layout: layouts/home.njk
title: "Flocke Online - Essen im Netz"
subline: "Meine kleine Rezeptsammlung"
permalink: /index.html
bodyClass: index
headerImage: placeholder1
headerImageLink: https://www.pexels.com/de-de/foto/kunst-kreativ-malerei-abstrakt-1959387/
headerImageAttribution: Foto von Steve Johnson von Pexels
eleventyNavigation:
  key: Startseite
  order: 1
---

{% for item in categories %}
<div class="card {{item.url}}">
  <div class="card__head">
    <h2 class="card__headline">{{ item.title }}</h2>
  </div>
  <div class="card__body">
    <ol class="card__items">
    {# Zählvariable setzen #}
    {% set atPost = 0 %}
    {% for post in collections.recipesDescending %}
      {% if post.data.category == item.url %}
        {# Solange die Zählvariable noch unter diesem Wert ist #}
        {% if atPost < 8 %}
        <li class="card__item--block"><a href="{{ post.url | url}}">{{ post.data.title }}</a></li>
        {% endif %}
        {# Zählvariable hochzählen #}
        {% set atPost = atPost + 1 %}
      {% endif %}
    {% endfor %}
    {% for post in collections.infosDescending %}
      {% if post.data.category == item.url %}
        {# Solange die Zählvariable noch unter diesem Wert ist #}
        {% if atPost < 8 %}
        <li class="card__item--block"><a href="{{ post.url | url}}">{{ post.data.title }}</a></li>
        {% endif %}
        {# Zählvariable hochzählen #}
        {% set atPost = atPost + 1 %}
      {% endif %}
    {% endfor %}

    </ol>
    <div class="card__link">
      <a href="{{ item.title | lower }}.html">
        <span class="card__arrow">&#9654;</span> mehr <span class="vis-md">aus der Kategorie</span> <strong>{{ item.title }}</strong> ...</a>
    </div>
  </div>
</div>
{% endfor %}
