---
layout: layouts/home.njk
title: "Flocke Online - Essen im Netz"
subline: "Meine kleine Rezeptsammlung"
permalink: /index.html
bodyClass: index
headerImage: placeholder1
headerImageLink: https://www.pexels.com/de-de/foto/kunst-kreativ-malerei-abstrakt-1959387/
headerImageAttribution: Foto von Steve Johnson von Pexels
eleventyNavigation:
  key: Startseite
  order: 1
---
{% include "index-1003.njk" %}
