---
layout: layouts/post.njk
title: "Sonstiges"
permalink: /sonstiges.html
bodyClass: sonstiges
headerImage: placeholder8
headerImageLink: https://www.pexels.com/de-de/foto/grune-und-gelbe-abstrakte-malerei-4943165/
headerImageAttribution: Foto von Steve Johnson von Pexels
eleventyNavigation:
  key: Sonstiges
  order: 4
---
<div class="category">
  <div class="category__head">
    <h2>Rezepte der Kategorie {{eleventyNavigation.key}}</h2>
  </div>
  <div class="category__body">
    <ul class="category__items">
      {%- for post in collections.recipesDescending -%}
        {% if post.data.category == "sonstiges" %}
        <li><a href="{{ post.url | url}}">{{ post.data.title }}</a></li>
        {% endif %}
      {%- endfor -%}
    </ul>

  </div>
</div>
