---
layout: layouts/post.njk
title: "Sonstiges"
permalink: /sonstiges.html
bodyClass: sonstiges
headerImage: placeholder8
headerImageLink: https://www.pexels.com/de-de/foto/grune-und-gelbe-abstrakte-malerei-4943165/
headerImageAttribution: Foto von Steve Johnson von Pexels
eleventyNavigation:
  key: sonstiges
  order: 4
---

<h2 class="separator">
  <span>Rezepte der Kategorie {{ eleventyNavigation.key | capitalize }}</span>
</h2>
<ul class="list list--grid">
  {%- for post in collections.recipesDescending %}
    {%- if post.data.category == "sonstiges" %}
      <li>
        {% include "partials/card.njk" %}
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>