---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/tag.njk
bodyClass: tag
eleventyComputed:
  title: "Kategorie {{ tag | capitalize }}"
  permalink: "/tags/{{ tag | slugify }}/"
eleventyExcludeFromCollections: true

headerImage: placeholder7
headerImageLink: https://www.pexels.com/de-de/foto/blaue-und-mehrfarbige-abstrakte-malerei-1307114/
headerImageAttribution: Foto von Steve Johnson von Pexels
---

<h1>{{ tag | capitalize }}</h1>
{% set postslist = collections[ tag ] %}
{% include "tagslist.njk" %}