---
layout: layouts/post.njk
title: "Wissenswertes"
bodyClass: wissenswertes
permalink: /wissenswertes.html
headerImage: placeholder5
headerImageLink: https://www.pexels.com/de-de/foto/foto-der-blauen-und-roten-abstrakten-malerei-3699270/
headerImageAttribution: Foto von Steve Johnson von Pexels
eleventyNavigation:
  key: wissenswertes
  order: 5
---

<div class="card">
  <div class="card__head">
    <h2 class="card__headline">Posts der Kategorie {{eleventyNavigation.key | capitalize}}</h2>
  </div>
  <div class="card__body">
    <ul class="card__items">
      {%- for post in collections.infosDescending -%}
        <li><a class="card__link--block" href="{{ post.url | url}}">{{ post.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>

