<div class="bg-wrapper">

  <div class="container pb-0">
    <header class="siteheader siteheader--home">
      <!-- 7:2 -->
     <img class="no-print" src="../img/{{headerImage}}_875x250.jpg" alt="" width="875" height="250">
     <div class="siteheader__headline-cnt siteheader__headline-cnt--home">
        <h1 class="siteheader__headline siteheader__headline--home">{{ title }}</h1>
        <p class="siteheader__subline siteheader__subline--home">{{ subline }}</p>
     </div>
    </header>
    {% if headerImageAttribution %}
    <div class="imageright">
      {{ headerImageAttribution| safe }}
      {% if headerImageLink %}
      <a href="{{ headerImageLink }}" style="margin-left: 8px;">(Originalbild)</a>
      {% endif %}
    </div>
    {% endif %}
  </div>

</div>
