<div class="container pb-0">
  <header class="siteheader">
    {%- if headerImage -%}
    <img class="no-print" src="../assets/img/{{headerImage}}_875x250.jpg" alt="" width="875" height="250">
    {%- else -%}
    <img src="https://dummyimage.com/7:2x250" alt="">
    {%- endif -%}
    <div class="siteheader__headline-cnt">
      <h1 class="siteheader__headline">{{ title }}</h1>
    </div>
  </header>
  </div>
