<!-- <div class="bg-wrapper">

  <div class="container pb-0">
    <header class="siteheader siteheader--tag">
      <h1 class="siteheader__headline--tag">Alle Rezepte der Kategorie <mark>{{ tag }}</mark></h1>
    </header>
  </div>

</div> -->
<header>
  <div class="bg-wrapper">
    <div class="container">
      <header class="tag-header">
      <div class="tag-header__headline-cnt">
          <div class="tag-header__logo">
            <img src="/assets/img/logo/{{metadata.logo}}">
          </div>
          <h1 class="tag-header__headline">
            <mark style="display: block;">{{ tag | capitalize }}</mark>
            </h1>
          <p class="tag-header__subline">{{ subline }}</p>
      </div>
      </header>
    </div>
  </div>
{% include "partials/navigation.njk" %}
</header>
