{% if templateClass == "tmpl-home" %}

  <div class="container sitefooter">
    <footer class="row">
      <ul class="nav hstack gap-4">
        <li class="nav-item"><a class="nav-link" href="/impressum/">Impressum</a></li>
        <li class="nav-item"><a class="nav-link" href="/kolophon/">Kolophon</a></li>
      </ul>
    </footer>
  </div>

{% else %}

  <div class="container section--categories">
    <div class="row">
      <h2>Alle Kategorien</h2>
      <ul class="nav hstack gap-3">
        {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        {% set tagCount = collections[tag].length %}
        <li class="nav-item">
          <a class="nav-link" href="{{ tagUrl | url }}">
            <span class="taglist__count">{{ tagCount }} x </span>
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container sitefooter">
    <footer class="row">
      <ul class="nav hstack gap-4">
        <li class="nav-item"><a class="nav-link" href="{{ '/' | url }}">zurück zur Startseite</a></li>
        <li class="nav-item"><a class="nav-link" href="/impressum/">Impressum</a></li>
        <li class="nav-item"><a class="nav-link" href="/kolophon/">Kolophon</a></li>
      </ul>
    </footer>
  </div>
{% endif %}
