{% if templateClass == "tmpl-home" %}

  <div class="container">
    <footer class="site__footer">
      <ul>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="/kolophon/">Kolophon</a></li>
      </ul>
    </footer>
  </div>

{% else %}

  <div class="container section--categories">
    <div>
      <h2>Alle Kategorien</h2>
      <ul class="taglist taglist--footer">
        {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        {% set tagCount = collections[tag].length %}
        <li class="taglist__item">
          <a class="taglist__link" href="{{ tagUrl | url }}" class="tag">
            <span class="taglist__count">{{ tagCount }} x </span>
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container">
    <footer class="site__footer">
      <ul>
        <li class="getback__link"><a href="{{ '/' | url }}">zurück zur Startseite</a></li>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="/kolophon/">Kolophon</a></li>
      </ul>
    </footer>
  </div>
{% endif %}
