{% if templateClass == "tmpl-home" %}
  <div class="container">
    <header class="home-header card border-0">
      <!-- 7:2 -->
      <img class="card-img-top" src="https://placeimg.com/900/257/any" alt="">
      <div class="card-body">
        <h1 class="card-title">{{ title }}</h1>
        <p class="card-text">{{ subline }}</p>
      </div>
    </header>
  </div>
{% endif %}

{% if templateClass == "tmpl-tags" %}
  <div class="container">
    <header class="tags-header card border-0">
      <div class="card-body">
        <h1 class="card-title">{{ title }}</h1>
      </div>
    </header>
  </div>
{% endif %}

{% if templateClass == "tmpl-recipe" %}
  <div class="container">
    <header class="recipe-header card border-0">
      <!-- 7:2 -->
      <img class="card-img-top" src="https://placeimg.com/900/257/any" alt="">
      <!-- <img
      src="../img/{{ introImage }}-l.jpg"
      srcset="../img/{{ introImage }}-s.jpg 320w,
      ../img/{{ introImage }}-md.jpg 480w,
        ../img/{{ introImage }}-l.jpg 768w
      alt=""> -->
      <div class="card-body">
        <h1 class="card-title">{{ title }}</h1>
      </div>
    </header>
  </div>
{% endif %}

{% if templateClass == "tmpl-post" %}
  <div class="container">
    <header class="post-header card border-0">
      <!-- 7:2 -->
      <img class="card-img-top" src="https://placeimg.com/900/257/any" alt="">
      <!-- <img
    src="../img/{{ introImage }}-l.jpg"
    srcset="../img/{{ introImage }}-s.jpg 320w,
    ../img/{{ introImage }}-md.jpg 480w,
      ../img/{{ introImage }}-l.jpg 768w
    alt=""> -->
      <div class="card-body">
        <h1 class="card-title">{{ title }}</h1>
      </div>
    </header>
  </div>
{% endif %}
