<!-- ====== Header -->
{% if templateClass == "tmpl-home" %}
<div class="bg-wrapper">

  <div class="container pb-0">
    <header class="siteheader siteheader--home">
      <!-- 7:2 -->
      <img class="no-print" src="https://dummyimage.com/7:2x250" alt="">
     <div class="siteheader__headline-cnt siteheader__headline-cnt--home">
        <h1 class="siteheader__headline siteheader__headline--home">{{ title }}</h1>
        <p class="siteheader__subline siteheader__subline--home">{{ subline }}</p>
     </div>
    </header>
  </div>

</div>
<!-- /.bg-wrapper -->
{% endif %}

{% if templateClass == "tmpl-tags" %}
<div class="bg-wrapper">

  <div class="container pb-0">
    <header class="siteheader siteheader--tag">
      <h1 class="siteheader__headline--tag">Alle Rezepte der Kategorie <mark>{{ tag }}</mark></h1>
    </header>
  </div>

</div>
<!-- /.bg-wrapper -->
{% endif %}

{% if templateClass == "tmpl-recipe" %}
<div class="bg-wrapper">
  <div class="container pb-0">
    <header class="siteheader siteheader--recipe">
      <!-- 7:2 -->
      <img src="https://dummyimage.com/7:2x250" alt="">
      <!-- <img
      src="../img/{{ introImage }}-l.jpg"
      srcset="../img/{{ introImage }}-s.jpg 320w,
      ../img/{{ introImage }}-md.jpg 480w,
        ../img/{{ introImage }}-l.jpg 768w
      alt=""> -->
      <div class="siteheader__headline-cnt">
        <h1 class="siteheader__headline siteheader__headline--recipe">{{ title }}</h1>
      </div>
   </header>
  </div>
</div> <!-- / .bg-wrapper -->

{% endif %}

{% if templateClass == "tmpl-post" %}
<div class="container pb-0">
<header class="siteheader siteheader--post">
  <!-- 7:2 -->
  <img src="https://dummyimage.com/7:2x250" alt="">
  <!-- <img
  src="../img/{{ introImage }}-l.jpg"
  srcset="../img/{{ introImage }}-s.jpg 320w,
  ../img/{{ introImage }}-md.jpg 480w,
    ../img/{{ introImage }}-l.jpg 768w
  alt=""> -->
  <div class="siteheader__headline-cnt">
    <h1 class="siteheader__headline siteheader__headline--post">{{ title }}</h1>
  </div>
</header>
</div>
{% endif %}
<!-- END ======= Header -->
