<section class="container no-print">
  <div class="card card--tags">
    <div class="card__header">
      <h2 class="card__headline">Alle Stichworte</h2>
    </div>
    <div class="card__body">
      <ul class="taglist taglist--footer taglist--simple">
        {% for tag in collections.tagList %}
          {% set tagUrl %}/{{ tag }}/{% endset %}
          {% set tagCount = collections[tag].length %}
          <li class="taglist__item">
            <a class="taglist__link" href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
          </li>
        {% endfor %}
        </ul>
    </div>
  </div>
</section>
