---
layout: layouts/base.njk
templateClass: tmpl-home
---
<main>
{{ content | safe }}
</main>

<p class="hint">Alle Rezepte gibt es im <a href="{{ '/posts/' | url }}">Archiv</a>.</p>

{% include "categories.njk" %}
