---
layout: layouts/base.njk
templateClass: tmpl-post
---
<main class="recipe">
  <div class="container">
      {% Intro %}
    {{ introText}}
  {% endIntro %}
  {{ content | safe }}
  </div>
</main>
<div class="hint getback"><a class="getback__link" href="{{ '/' | url }}">← zurück zur Startseite</a></div>
