---
layout: layouts/base.njk
templateClass: tmpl-recipe
---
<div class="container mb-4">
  <main class="recipe">
    {% Intro %}
      {{ introText}}
    {% endIntro %}
    {{ content | safe }}

  </main>
  {% include "imageright.njk" %}
</div>

