---
layout: layouts/base.njk
templateClass: tmpl-recipe
---
<div class="container">
  <main class="recipe">
    {% Intro %}
      {{ introText}}
    {% endIntro %}
    {{ content | safe }}
  </main>
</div>
