---
layout: layouts/base.njk
templateClass: tmpl-recipe
---
<div class="container">
  <main class="recipe">
    {% Intro %}
      {{ introText}}
    {% endIntro %}
    {{ content | safe }}
  </main>
</div>

<div class="container">
  <div class="hint getback"><a class="getback__link" href="{{ '/' | url }}">zurück zur Startseite</a></div>
</div>
