<div class="card">
  <header>
    <img class="no-print" src="../assets/img/{{ post.data.headerImage }}-16x9.jpg" alt="" width="500" height="281"></header>
  <footer>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </footer>
</div>