  <div{% if myClass %} class="{{myClass}}"{% endif %}>
      <ul class="list list--grid">
      {% set atPost = 0 %}
      {%- for post in myCollection  %}
      {% set randomPost = myCollection | getRandom %}
      {%- if atPost < 6 -%}
        <li class="list__item list__item--overview">
          <img class="no-print" src="../assets/img/{{randomPost.data.headerImage}}-16x9.jpg" alt="" width="500" height="281">
          <a href="{{ randomPost.url | url}}">{{ randomPost.data.title }}</a>
        </li>
        {%- endif -%}
        {# Zählvariable hochzählen #}
        {% set atPost = atPost + 1 %}
      {%- endfor -%}
    </ul>

    {% include "partials/overview-link.njk" %}

  </div>
