<div class="index-container">
  {% include "partials/index-headline.njk" %}
  <ul class="list list--grid list--home">
    {% set atPost = 0 %}
    {%- for post in myCollection %}
      {%- if atPost < 6 -%}
        <li>
          {% include "partials/card.njk" %}
        </li>
      {%- endif -%}
      {# Zählvariable hochzählen #}
      {% set atPost = atPost + 1 %}
    {%- endfor -%}
  </ul>
  {% include "partials/overview-link.njk" %}
</div>