<div class="index-container">
  {% include "partials/index-headline.njk" %}
  <ul class="list list--grid list--home">
    {% set atPost = 0 %}
    {%- for post in myCollection %}
      {%- if atPost < 6 -%}
        <li>
          <div class="card">
            <header>
              <img class="no-print" src="../assets/img/{{ post.data.headerImage }}-16x9.jpg" alt="" width="500" height="281"></header>
              <footer>
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
              </footer>
            </div>
          </li>
        {%- endif -%}
        {# Zählvariable hochzählen #}
        {% set atPost = atPost + 1 %}
      {%- endfor -%}
    </ul>
    {% include "partials/overview-link.njk" %}
  </div>