<div class="card">
  <div class="card__head">
    <h2 class="card__headline">{{randomPost.data.title}}</h2>
  </div>
  <div class="card__body no-padding">
    <img class="no-print" src="../assets/img/{{randomPost.data.headerImage}}_875x250.jpg" alt="" width="875" height="250">

  <div class="card__footer">
    <div class="card__categories">
      {% for tag in randomPost.data.tags %}
      <span><a href="/{{ tag }}/">{{ tag }}</a></span>
      {% endfor %}
    </div>
    <div class="card__link"><a href="{{ randomPost.data.url | url}}">zum Rezept</a></div>
  </div>
