  <div class="logo-cnt">
    <div class="container">
      {% if templateClass != "tmpl-home" %}
      <a href="/">
      {% endif %}
      <img class="logo-cnt__logo" src="/assets/img/logo/{{metadata.logo}}" alt="">
      {% if templateClass != "tmpl-home" %}
      </a>
      {% endif %}
      <h1 class="sr-only">{{ metadata.title }}</h1>
      <div>{{ metadata.subline }}</div>
    </div>
  </div>
  <nav class="main-nav container no-print">
    <ul class="main-nav__nav">
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="main-nav__item">
        <a  class="main-nav__link{% if entry.url == page.url or entry.key == category %} main-nav__link--active{% endif %} main-nav__link--{{ entry.title }}"
            href="{{ entry.url | url }}">
            {{ entry.title | capitalize }}
        </a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
