  <div class="siteheader__logo-cnt">
    <div class="container">
      <img class="siteheader__logo" src="/assets/img/logo/{{metadata.logo}}" alt="">
      <h1 class="siteheader__headline sr-only">{{ metadata.title }}</h1>
      <div class="siteheader__subline">{{ metadata.subline }}</div>
    </div>
  </div>
  <nav class="main-nav container no-print">
    <ul class="main-nav__nav">
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="main-nav__item">
        <a  class="main-nav__link{% if entry.url == page.url or entry.key == category %} main-nav__link--active{% endif %} main-nav__link--{{ entry.title }}"
            href="{{ entry.url | url }}">
            {{ entry.title | capitalize }}
        </a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
