<div class="overview-card">    
    <img class="no-print" src="../assets/img/{{randomPost.data.headerImage}}-16x9.jpg" alt="" width="500" height="281">
    <a href="{{ randomPost.url | url}}">{{randomPost.data.title}}</a>
  </div>
