{% if rec %}
<aside class="container no-print">
  <div class="card">
    <div class="card__head">
      <h2 class="card__headline">Weiterführende Links</h2>
    </div>
    <div class="card__body">

      <ul>
        {% for r in rec %}
        <li>
          <a href="{{ r.url }}">{{ r.title }}</a>{% if r.note %} - {{r.note}}{% endif %}
        </li>
      {% endfor %}
      </ul>

    </div>
  </div>
</aside>
{% endif %}
