<header class="container container--bg">
  <div class="siteheader siteheader--recipe">
    <div class="siteheader__contentcontainer">
      <h2 class="siteheader__headline">{{ title }}</h2>
      {% if introText %}
        <div class="recipe__intro" itemprop="description">
          {% for t in introText %}
            <p>{{ t }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="siteheader__imagecontainer">
      <div class="recipe__tags">
        <ul class="taglist">
          {%- for tag in tags -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <li>
              <a href="{{ tagUrl | url }}">
                {{ tag }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <picture>
        <source srcset="/assets/img/{{ headerImage }}-7x2.jpg" width="1000" height="286" media="(min-width: 800px)">
          <img class="siteheader__img no-print" src="/assets/img/{{ headerImage }}-16x9.jpg" alt="" width="500" height="281"></picture>
          <details class="imageright">
            <summary>Bildnachweis</summary>
            {{ headerImageAttribution| safe }}
            {% if headerImageLink %}
              <a href="{{ headerImageLink }}" style="margin-left: 8px;">(Originalbild)</a>
            {% endif %}
          </details>
        </div>
        <!-- siteheader__imagecontainer -->
      </div>
    </header>