<header>
  <div class="bg-wrapper">
    <div class="container pi-md-0">
      <header class="siteheader">
        <!-- 7:2 -->
      <img class="siteheader__bg-img no-print" src="/assets/img/{{headerImage}}_875x250.jpg" alt="" width="875" height="250">
      <div class="siteheader__logo-cnt">
            <img class="siteheader__logo" src="/assets/img/logo/{{metadata.logo}}" alt="">
          <div class="siteheader__subline">{{ metadata.subline }}</div>
      </div>
      {% if bodyClass == "index" %}
      <h1 class="siteheader__headline sr-only">{{ metadata.title }}</h1>
      {% else %}
      <h1 class="siteheader__headline">{{ title }}</h1>
      {% endif %}
      </header>
    </div>
  </div>
{% include "partials/navigation.njk" %}
</header>
