<div class="container container--bg section--categories">
  <div>
      <h2>Alle Stichworte</h2>
      <ul class="taglist taglist--footer taglist--extended">
        {%- for tag in collections.tagList -%}
          {% set tagUrl %}/{{ tag }}/{% endset %}
          {% set tagCount = collections[tag].length %}
          <li class="taglist__item">
            <a class="taglist__link" href="{{ tagUrl | url }}">
              <span class="taglist__count">{{ tagCount }} x </span>
              {{ tag }}
            </a>
          </li>
        {%- endfor -%}
        </ul>
  </div>
  </div>
