<div class="container container--bg section--categories">
  <div>
    <h2>Alle Stichworte</h2>
    <ul class="taglist">
      {%- for tag in collections.tagList -%}
        {% set tagUrl %}/{{ tag }}/{% endset %}
        {% set tagCount = collections[tag].length %}
        <li>
          <a href="{{ tagUrl | url }}">{{ tag }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>