<aside class="container container--bg tagcontainer no-print">
  <h2 class="separator">
    <span>Alle Stichworte</span>
  </h2>
  <ul class="taglist">
    {%- for tag in collections.tagList -%}
      {% set tagCount = collections[tag].length %}
      <li>
        <a href="{{ ('/tags/' ~ (tag | slugify) ~ '/') | url }}">{{ tag | capitalize }}</a>
      </li>
    {%- endfor -%}
  </ul>
</aside>