<section class="container no-print">
  <div class="card">
    <div class="card__head">
      <h2 class="card__headline">Alle Stichworte</h2>
    </div>
    <div class="card__body">
      <ul class="taglist">
        {% for tag in collections.tagList %}
          {% set tagUrl %}/{{ tag }}/{% endset %}
          {% set tagCount = collections[tag].length %}
          <li class="taglist__item">
            <a class="taglist__link" href="{{ tagUrl | url }}">{{ tag | capitalize }}</a>
          </li>
        {% endfor %}
        </ul>
    </div>
  </div>
</section>
