{% if tags %}
<aside class="container container--bg no-print">
  <div class="card">
    <div class="card__head">
      <h2 class="card__headline">Tag(s)</h2>
    </div>
    <div class="card__body">
      <ul class="taglist taglist--short">
        {%- for tag in tags -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li>
          <a href="{{ tagUrl | url }}">
            {{ tag }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</aside>
{% endif %}
