{% if tags %}
<div class="container no-print">
  <div class="card">
    <div class="card__head">
      <h2 class="card__headline">Tag(s)</h2>
    </div>
    <div class="card__body">
      <ul class="taglist taglist--short">
        {%- for tag in tags -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li class="taglist__item">
          <a class="taglist__link" href="{{ tagUrl | url }}">
            {{ tag }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
{% endif %}
